* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main {
  background-image: url(/Images/indexMain/background.avif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1250px, 100vw);
  height: 70vh;
  position: relative;
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.1;
  position: absolute;
  top: 0;
  background-color: black;
}

.email-btn {
  height: 35px;
  width: 415px;
  border-radius: 10px;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo h4 {
  color: white;
  font-family: "Baloo Bhai", cursive;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  top: 0px;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  height: 90px;
  margin-right: 100px;
}
.techapanda {
  text-decoration: none;
}
.disheshHeading {
  text-decoration: none;
  color: green;
}
.disheshHeading h2 {
  padding-bottom: 20px;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
/* navigation bar : logo and items */
#logo {
  margin: 10px 34px;
}
#logo img {
  height: 50px;
  margin: 3px 6px;
}
/* navigation bar : list styling */
#navbar ul {
  display: flex;
  font-family: "Baloo Bhai", cursive;
}
#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.hero {
  height: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-weight: bolder;
  font-size: 48px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 20px;
  background-color: green;
  position: relative;
  z-index: 20;
  margin-top: 50px;
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  background-color: rgba(248, 243, 243, 0.021);
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  height: 25px;
  width: 180px;
}

.btn-red {
  background-color: #64a415;
  color: white;
  padding: 3px 24px;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 400;
  height: 35px;
  border-radius: 20px;
}

.btn-red-sm {
  background-color: red;
  color: white;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.separation {
  height: 5px;
  background-color: rgb(71, 70, 70);
  position: relative;
  z-index: 20;
}

.main-body {
  width: 80%;
  margin: auto;
}

/* Style for the container holding the images */
.image-container {
  width: 100%;
  overflow: hidden;
}

/* Style for the container that scrolls */
.scrolling-container {
  display: flex;
  animation: scroll 10s linear infinite; /* Adjust the duration as needed */
}

/* Keyframes for scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Style for individual images */
.scrolling-container img {
  width: 100%; /* Ensure images take up full width of container */
  height: 160px; /* Maintain aspect ratio */
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.box {
  height: 250px;
  width: 300px;
  border-radius: 20px;
}

.dishesh {
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dishesh-heading {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
  color: green;
}

.nonveg {
  color: #b80000;
}

.hygenic {
  color: rgb(73, 158, 191);
}

.gujarati {
  color: rgb(45, 43, 159);
}

.disheshHeading {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dishesh-main {
  width: 80%;
  margin: auto;
}

.dishesh-main-text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  color: #b80000;
}

.dishesh-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dishesh-img img {
  height: 160px;
  width: 130px;
}

.box img {
  height: 60%;
  width: 90%;
  border-radius: 10px;
}

.rating img {
  height: 15px;
  width: 15px;
}

.box img:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
}

.box_title_container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.box_title {
  color: orange;
}

.faq {
  padding: 10px 12px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.faq-Heading {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.faq h2 {
  font-weight: 500;
  font-size: 40px;
}
.accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px auto;
  width: 150%;
  max-width: 750px;
}
.accordion li {
  list-style: none;
  width: 150%;
  padding: 5px;
}
.accordion li label {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: rgb(255, 166, 0);
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}
label::after {
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}
input[type="radio"] {
  display: none;
}
.accordion .content {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: rgb(88, 203, 88);
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 0px 20px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
  border-radius: 10px;
}
.accordion input[type="radio"]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after {
  transform: rotate(135deg);
}
.faq .email-signup {
  max-width: 600px;
  margin: 20px auto 60px;
}
.faq small {
  font-size: 13px;
}

.job {
  /* display: flex; */
  padding: 10px;
  width: 90%;
  margin: auto;
  color: brown;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
  /* padding: 10px;
    margin: 0px;
    gap: 20px;
    color: blue; */
}
.button {
  color: #64a415;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  gap: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.585);
}

::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 10px;
}

.job-btn-1 {
  background-color: #4477ce;
  height: 40px;
  width: 100px;
  color: white;
  font-size: 15px;
  border-radius: 10px;
}

.job-btn-2 {
  background-color: #4477ce;
  height: 40px;
  width: 100px;
  color: white;
  font-size: 15px;
  border-radius: 10px;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  margin: auto;
  padding: 34px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

footer .question {
  padding: 34px;
}

.sub-main {
  display: flex;
  gap: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "Baloo Bhai", cursive;
  font-weight: bold;
}

.dropdown-content:hover {
  background-color: white;
  height: 20px;
  width: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#navbar ul {
  margin-right: 90px;
}
